<div class="profil">
    <header>
        <img src="profil-img">
        <h2>Hey, this.username !</h2>
        <p>Welcome on your Profil</p>
    </header>
    <article class="list-event">
            <div class="card-event">
                <img src="../images/div-home1.jpg">
                <h3>Football Party</h3>
                <hr>
                <p>5 Rue Camille Godard, 33100, Bordeaux</p>
                <p>Mardi 13 Juin | 2023 </p>
                <button><a href="/event/:id">Details Here</a></button>
            </div>

        {{#each eventList}}
            <div class="card-event">
                <img src="{{this.pictures}}">
                <h3>{{this.title}}</h3>
                <hr>
                <p>{{this.place}}</p>
                <p>{{this.date}}</p>
                <div id="btn-profil">
                    <button><a href="/event/:id">Details Here</a></button>
                    <button><a href="/profil/{{this._id}}/edit">Edit</a></button>
                    <button><a href="/profil/delete">Delete</a></button>
                </div>
            </div>
        {{/each}}

    </article>
</div>