<div class="profil">
    <header>
        <div class="profil-information">
            <h2>Hey, {{userInSession.username}} !</h2>
            <p>Welcome on your Profil</p>
        </div>
    </header>        

    <hr>

    <div class="profil-event-title">
        <h2>My Event</h2>
    </div>
    <article class="list-event">
        {{#each eventList}}
            <div class="card-event">
                <img src="{{this.pictures}}">
                <h3>{{this.title}}</h3>
                <hr>
                <p>{{this.place}}</p>
                <p>{{this.date}}</p>
                <div id="btn-profil">
                    <button><a href="/event/{{this._id}}">Details Here</a></button>
                </div>
                
                <div class="href-profil">
                    <a href="/profil/{{this._id}}/edit">Edit   →</a>
                        <form method="post" action="/profil/{{this._id}}/delete" >
                            <button type="submit">Delete →</button>
                        </form>
                    </div>

            </div>
        {{/each}}

    </article>
</div>
