<div class="event-detail">
    <div class="event-detail-information">
        <img src="../images/div-home1.jpg">
        <h2>Yannick Noha Concert</h2>

        <ul>
            <li>Type : Concert</li>
            <li>Date : 06/0/2023</li>
            <li>Place : 88 Cours Jules Verne, Paris, 75001</li>
            <li>Description : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in ex neque. Aenean hendrerit condimentum ligula, at luctus purus fringilla et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis congue nulla at lacinia venenatis. Suspendisse non est aliquet, faucibus metus nec, blandit lacus. Ut tempus ligula lorem, et laoreet purus congue vel. Donec pellentesque tortor eget nibh iaculis tincidunt. Proin nec pretium nunc. ac tristique odio scelerisque vitae.</li>
            <li>By : El Chapo</li>
        </ul> 
        <h3>Price : 28$</h3>
        {{!-- <img src="{{src}}">
        <h2>{{title}}</h2>
        <ul>
            <li>Type : {{type}}</li>
            <li>Date : {{date}}</li>
            <li>Place : {{place}}</li>
            <li>Description : {{descr}}</li>
            <li>By : {{username}}</li>
            <li> {{price}} $</li>
        </ul> --}}
    </div>
    <div id="event-chat">
        <h2>Chat :</h2>
        <form>
            <label>
                <input id="message-input" type="text" placeholder="Enter Message">
                <button  id="send-chat-btn">Send</button>
            </label>
        </form>
    </div>
</div>