<div class="list-event-contain">
<h1 class="title-event">All events around you</h1>


    <form class="search-bar-event">
        <label for="dates"> Filter :
            <select name="type" id="type-select">
                <option value="">Select type</option>
                <option value="Concert">Concert</option>
                <option value="Theater">Theater</option>
                <option value="Outside">Outside</option>
                <option value="other">Other</option>
            </select>
        </label>

        <label> Search by City :
            <input type="search" name="search-bar" placeholder="Search your event">
            <button type="submit">Search</button>
        </label>
        
    </form>

<article class="list-event">

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>   
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>

        <div class="card-event">
            <img src="../images/div-home1.jpg">
            <h3>Football Party</h3>
            <hr>
            <p>5 Rue Camille Godard, 33100, Bordeaux</p>
            <p>Mardi 13 Juin | 2023 </p>
            <button><a href="/event/:id">Details Here</a></button>
        </div>


            {{#each eventList}} 
                <div class="card-event">
                    <img src="{{this.pictures}}">
                    <h3>{{this.title}}</h3>
                    <hr>
                    <p>{{this.place}}</p>
                    <p>{{this.date}}</p>
                    <button><a href="{{this._id}}">Details Here</a></button>
                </div>
            {{/each}}
       
</article>

</div>