<div class="event-detail">
    <div class="event-detail-information">
     <img src="{{eventId.pictures}}">
        <h2>{{eventId.title}}</h2>
        <ul>
            <li>Type : {{eventId.type}}</li>
            <li>Date : {{eventId.date}}</li>
            <li>Place : {{eventId.place}}</li>
            <li>Description : {{eventId.description}}</li>
            <li>By : {{eventId.username}}</li>
            <li> {{eventId.price}} $</li>
        </ul> 
    </div>

    <div id="event-chat">
        <h2>Chat :</h2>
        <form>
            <label>
                <input id="message-input" type="text" placeholder="Enter Message">
                <button  id="send-chat-btn">Send</button>
            </label>
        </form>
    </div>
</div>