<div class="list-event-contain">
<h1 class="title-event">All events around you</h1>


    <form class="search-bar-event">
        <label for="dates"> Filter :
            <select name="type" id="type-select">
                <option value="" disabled selected hidden>Select an event type</option>
                {{!-- <option value="all">All</option> --}}
                <option value="Concert">Concert</option>
                <option value="Theater">Theater</option>
                <option value="Outside">Outside</option>
                <option value="Dinner">Dinner</option>
                <option value="Sport">Sport</option>
                <option value="Bar">Bar</option>
                <option value="Talking">Talking</option>
                <option value="Party">Party</option>
                <option value="Other">Other</option>
            </select>
        </label>

        <label for="dates">
            <select name="city" id="type-select">
                <option value="" disabled selected hidden>Select a city</option>
                {{!-- <option value="all">All</option> --}}
                <option value="Bordeaux">Bordeaux</option>
                <option value="Berlin">Berlin</option>
                <option value="Paris">Paris</option>
                <option value="Sevilla">Sevilla</option>
                <option value="Other">Other</option>
            </select>
        </label>
        <button type="submit">Search</button>
    </form>

<hr>

<article class="list-event">
            {{#each eventList}} 
                <div class="card-event">
                    <img src="{{this.pictures}}">
                    <h3>{{this.title}}</h3>
                    <hr>
                    <p>{{this.place}}</p>
                    <p>{{this.date}}</p>
                    <button><a href="/event/{{this._id}}">Details Here</a></button>
                </div>
            {{/each}}
       
</article>

</div>