<div>
    <h1>This us Recommandation for you !</h1>
    <p>Choose your Date !</p>
</div>

<form action="">
    <label> Choose your Date :
      <input type="date" name="date"  />
    </label>
    <button type="submit">Choose !</button>
</form>
<hr>

<article class="list-event">
            {{#each eventList}} 
                <div class="card-event">
                    <img src="{{this.pictures}}">
                    <h3>{{this.title}}</h3>
                    <hr>
                    <p>{{this.place}}</p>
                    <p>{{this.date}}</p>
                    <button><a href="/event/{{this._id}}">Details Here</a></button>
                </div>
            {{/each}}
</article>
</div>